*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 90%;
	margin: 0 auto;
}
.navbar{
	width: 100%;
	overflow: hidden;

	height: 70px;
	line-height: 70px;
	background: #000d1a;
	-webkit-transition-position: fixed;
    position: fixed;
	/*
	border-bottom: 5px red;
	border-bottom-style: groove;
	/*border-top: 5px red;
	border-top-style: groove;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 7px;
	*/
}
.logoimage{
	padding-top: 24px;
	width: 200px;
	float: left;
}
.menu{
	float: right;
}
.menu li{
	float: left;
	width: 120px;
	height: 73px;
	line-height: 67px;
	text-align: center;
	list-style: none;
	text-transform: uppercase;
}
.menu li a{
	color: white;
	text-decoration: none;
	/*
	font-family: cursive;
	*/
}
.menu li:hover{
	/*
	background: red;
	padding-top: 10px;
	height: 55px;
	border-radius: 200px;
	transition: background-color 1s, border .1s, color .2s;
	*/

}
.menu li a:hover{
	/*
	color: gold;
	padding: 10px 20px;
	line-height: 2px;*/
	border-bottom: 2px solid white;
	padding: 10px 10px;

}

.vvideo{
	position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%; 
    height:100vh;
}

.main-content-header{
	width: 285px;
	padding-top: 43%;
	padding-left:43%;
	/*
	position: absolute;
	*/
	/*border: 1px solid red;
	top: 50%;
	left: 50%;
	*/
	/*
	transform: translate(-50%, -50%);
	*/

}
.btn{

	display: inline-block;
	padding: 5px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	
	border-radius: 8px;
	
	transition: background-color 0.2s, border 0.2s, color 0.2;
}


.btn-full{
	background-color: #000d1a;
	color: white;
	margin-right: 0px;
	/*
	border: 1px solid #bf55ec;
	*/
}

.btn-full:hover{
	background-color: grey;
}

.btn-nav{
	background-color: #000d1a;
	color: white;
	/*
	border: 0px solid black;
	*/
}

.btn-nav:hover{
	background-color: grey;
}

.bg-modal 
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	display: none;	
}
.tg-modal 
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
	display: none;	
}
.modal-content
{
	width: 500px;
	height: 300px;
	background-color: black;
	border-radius: 10px;
	opacity: .8;
	text-align: center;
	padding: 20px;
	position: relative;
}
input
{
	width: 50%;
	display: block;
	margin: 10px auto;
	background-color: white;
	padding: 10px 20px;
	border-radius: 200px;
	opacity: 0.9;
}
.close
{
	position: absolute;
	top:0;
	color: white;
	right:14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.space{
	position:left;
    z-index:-1;
    top:700px;
    left:0;
    width:100%; 
    height:100vh;
}
/*
.shift{
	padding-right: 30px;
}
*/
.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
